# ----------- Database Config ------------
POSTGRES_USER= your_user
POSTGRES_PASSWORD= your_password
POSTGRES_DB=url_shortener_db
POSTGRES_HOST=url_shortener_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
POSTGRES_PORT=5432
# ----------- future PG BOUNCER Config ------------
# PGBOUNCER_HOST=url_shortener_db
# PGBOUNCER_POOL_MODE=session
# PGBOUNCER_MAX_CLIENT_CONN=100
# PGBOUNCER_DEFAULT_POOL_SIZE=20

# ----------- Redis Config ------------
REDIS_HOST=redis
REDIS_PORT=6379

# ----------- LOCUST Config ------------
#LOCUST_PROTECTION_MODE=rate_limit
SHORT_URL=string #for locust test 
LOCUST_PROTECTION_MODE=rate_limit+captcha #changes as per set mode fastapi endpoint